#navigation-container {
  width: 5%;
  left: 0;
  transition: width 0.3s ease-in-out;
  overflow: hidden; /* Hide overflowing content during transition */
  position: fixed;
}

#navigation-container:hover {
  width: 11%;
  left: 0;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
  margin-top: 3.5rem;
  transition: all 0.3s ease;
  white-space: nowrap;
  color: white;
}


.nav-item .nav-icon {
  margin-right: 0; /* Không khoảng cách giữa icon và text khi không hover */
  transition: all 0.3s ease;
}

.nav-item .nav-text {
  align-self: center; /* Đảm bảo căn giữa dọc */
}

#navigation-container:hover .nav-item {
  padding-left: 0rem; /* Đảm bảo text nằm bên phải icon khi mở rộng */
}

.nav-item .nav-icon {
  margin-right: 0;
  transition: all 0.3s ease;
}

.nav-item .nav-text {
  display: none;
  opacity: 0;
  margin-left: 0.5rem;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#navigation-container:hover .nav-item {
  justify-content: flex-start;
}

#navigation-container:hover .nav-item .nav-icon {
  margin-right: 0.5rem;
}

#navigation-container:hover .nav-item .nav-text {
  display: inline-block;
  opacity: 1;
  transform: translateX(0);
}

/* Initially hide nav-item-name */
.nav-item-name {
  display: none;
  white-space: nowrap;
  transition: opacity 0.2s ease-in-out; /* Add opacity transition */
}

#navigation-container:hover .nav-item-name {
  display: inline-block;
  opacity: 1;
}

.search-input {
  display: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out; /* Add opacity transition */
}

#navigation-container:hover .search-input {
  display: block;
  opacity: 1;
}

#navigation-container:hover .search-icon {
  display: none;
  transition: opacity 0.2s ease-in-out; /* Add opacity transition */
}

/* Đảm bảo dropdown menu hiển thị chính xác */
.dropdown-menu {
  position: absolute; /* Đặt vị trí tuyệt đối để căn so với parent */
  top: -60px; /* Căn chỉnh khoảng cách phía dưới nút */
  left: 10px; /* Điều chỉnh để canh lề */
  z-index: 9999; /* Đảm bảo menu nổi lên trên các phần tử khác */
  background-color: white; /* Nền trắng cho menu */
  border-radius: 8px; /* Bo góc nhẹ */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Hiệu ứng đổ bóng */
  width: 120px; /* Đặt chiều rộng cố định */
  padding: 8px 0; /* Thêm padding cho các mục */
}

.dropdown-menu li {
  padding: 8px 12px; /* Khoảng cách bên trong cho mục */
  color: #333;
  font-size: 14px; /* Kích thước chữ vừa phải */
  cursor: pointer;
  white-space: nowrap; /* Ngăn xuống dòng */
}

.dropdown-menu li:hover {
  background-color: #f0f0f0; /* Hiệu ứng khi hover */
}

.dropdown-menu::before {
  content: "";
  position: absolute;
  top: -5px; /* Vị trí mũi tên */
  left: 20px; /* Canh lề mũi tên */
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

