@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #0f0f10;
  color: #fff;
}

input,
textarea {
  color: #000;
}

footer a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  footer div {
    margin: 10px 0;
  }
}